@{
    ViewData["Title"] = "Home Page";
}

<div class="text-sm-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5">Rxeell</h2>
    <p>Learn about <a href="https://www.instagram.com/ramanueel/">Every thing it's gonna be Daijobu</a>.</p>
     <a href="https://localhost:7276/transaction">Transaction</a>.</p>
    UwU
</div>
